* {
  font-family: "Noto Sans KR", sans-serif;
}

#container {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
}

#logo {
  position: absolute;
  margin-left: 8%;
  margin-top: 14.5%;
}

#saveList {
  position: absolute;
  margin-left: 76.99%;
  margin-top: 15%;
}

#myPage {
  position: absolute;
  margin-left: 86%;
  margin-top: 15%;
}

#title {
  position: absolute;
  margin-top: 33%;
  margin-left: 6.5%;
  font-weight: bold;
  font-size: 24px;
  color: #a37b59;
}

#viewMore {
  position: absolute;
  margin-left: 73%;
  margin-top: 35%;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  border: none;
  background-color: #ffffff;
}

#section {
  position: absolute;
  width: 342px;
  top: 235px;
  left: 22px;
}

.post {
  margin-bottom: 20px;
  background-color: #ffedd2;
  border-radius: 10px;
  width: 342px;
  height: 119px;
  color: #4f4f4f;
  text-align: left;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail {
  width: 72px;
  height: 77px;
  border-radius: 64px;
}

.menu1 {
  display: flex;
  align-items: center;
}

.img {
  margin-right: 16px;
}

.placename {
  font-size: 20px;
}

.day {
  font-size: 16px;
  color: var(--sub-color, #aab1b3);
}

.edit,
.delete {
  border-radius: 231px;
  border: 0.5px solid #a37b59;
  background: #cebba9;
  box-shadow: 0.5px 0.5px 5px 0px #cebba9, -0.5px -0.5px 5px 0px #cebba9;
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.delete {
  margin-right: 20px;
}
