{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="{% static '/css/myPage.css'%}" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
</head>
<body>
  <div id="container">
    <div id="logo">
      <img src="{% static '/images/logo.png'%}" alt="로고" width="50px" />
    </div>
    <div id="saveList" onclick="location.href='http://127.0.0.1:8000/user/{{request.user.pk}}/like/'">
      <img src="{% static '/images/heart.png'%}" alt="찜목록" width="22.5px" height="19.5px" />
    </div>
    <div id="myPage" onclick="location.href='http://127.0.0.1:8000/user/{{request.user.pk}}/review/'">
      <img src="{% static '/images/person.png'%}" alt="마이페이지" width="20.5px" height="22.5px" />
    </div>
    <div id="title">멋사님의 효도 내역</div>
    <button type="submit" id="viewMore">더보기&gt;</button>
    <div id="section">
      {% for review in reviewList %}
        <div class="post">
          <div class="detail"></div>
          <div class="menu1">
            <img class="img" src="{{ review.post.image.url }}" alt="Post Image" width="72">
            <h4 class="placename">{{ review.post.placename }}</h4>
            <h4 class="day">{{ review.created_at }}</h4>
          </div>
          <form method="GET" action="{% url 'posts:review-edit' review.id %}">
            <button id="update" type="edit">수정</button>
          </form>
          <form action="{% url 'posts:review-delete' review.id %}" method="POST">
            {% csrf_token %}
            <button id="delete" type="submit">삭제</button>
            <input type="hidden" name="ids" value="{{ review.id }}">
          </form>

        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
