<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <div class="container my-3">
        <div class="row my-3">
            <div class="col-4">
                <h4>회원가입</h4>
            </div>
        </div>
        <form method="post" class="post-form" action="{% url 'user:user-signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <div id="idText" for="userId">사용자 이름</div>
                <input type="text" class="form-control" name="username" id="userId" value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <div id="pwText" for="pwInput">비밀번호</div>
                <input type="password" class="form-control" name="password1" id="pwInput" value="{{ form.password1.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <div for="pwCheckInput">비밀번호 확인</div>
                <input type="password" class="form-control" name="password2" id="pwCheckInput" value="{{ form.password2.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <div id="name" for="nameInput">이메일</div>
                <input type="text" class="form-control" name="email" id="nameInput" value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <button type="submit" id="startBtn" class="btn btn-primary">효도 컨설팅 가입하기</button>
        </form>
    </div>
</body>
</html>
