{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/detail.css'%}">
    <title>큐레이팅 상세페이지</title>
    <link rel="stylesheet" href="{% static '/css/detail.css'%}" />
</head>
<body>
    <div class="top-bar">
      <div class="logo" onclick="location.href='http://127.0.0.1:8000/user/main2/'">
        <img src="{% static '/images/logo.png'%}" alt="로고" width="50px" ; />
      </div>
        <div>
            <div id="saveList" onclick="location.href='http://127.0.0.1:8000/user/{{request.user.pk}}/like/'">
                <img src="{% static '/images/heart.png'%}" class="heart">
            </div>
            <div id="myPage" onclick="location.href='http://127.0.0.1:8000/user/{{request.user.pk}}/review/'">
                <img src="{% static '/images/person.png'%}" class="mypage">
            </div>
        </div>
    </div>
    <div class="recommed">
        <div id="imageBox">
          <img id="image" alt="" src="{{ post.image.url }}">
        </div>

        <div>
            <h3 class="title">{{ post.placename }}<br/></h3>
            <p>{{ post.content }}</p>
            <h3 class="add">이렇게 활용하세요! </h3>
            <p>{{ post.tip }}</p><br/>
        </div>

    <!-- Review 정보 표시 -->
    <div class="review">
        <div class="top">
            <h3>리뷰</h3>
            <a href="{% url 'posts:create_review' post.id %}" target="_blank"><div>작성하기</div><img src="{% static '/images/write.png' %}"></a>

        </div>
              {% for review in post.review_set.all %}

        <div>
           <div class="rating">
                {% for i in "1.0 2.0 3.0 4.0 5.0"|slice:":" %}
                {% if review.rating|floatformat == i %}
                <img id="stars" src="{% static '/images/star-'|add:i|add:'.0.png' %}" alt="별점" width="100px" height="20px">
    <!--        <img src="{% static '/images/logo.png'%}" alt="로고" width="50px" ; />-->
                {% endif %}
                {% endfor %}
           </div>
            <h3>{{ review.reviewTitle }}</h3>
            <p id="contents">{{ review.reviewText }}</p>
            <p id="userinfo">{{ review.user.username }} | {{ review.created_at | date:'y.m.d.' }}</p>
        </div>
          {% empty %}
            첫 번째 리뷰를 달아주세요!
          {% endfor %}

    </div>
</div>
    <div class="bottom">
        <!--이 블럭 다시 체크-->
        <button id="modal_btn">공유하기</button>
        <div class="modal_background"></div>
        <div class="modal_wrap">
                <div class="text">링크를 복사했습니다.</div>
        </div>


        <form action="{% url 'posts:post-like' post.id %}" method='POST'>
            {% csrf_token %}
            {% if request.user in post.like.all %}
                <button class="mogg" class="btn btn-link text-danger">
                    <img id="heart" src="{% static '/images/heart5.png' %}" alt="빈하트" width="57px" height="50px">
                </button>
            {% else %}
                <button class="mogg" class="btn btn-link text-danger">
                    <img id="heart1" src="{% static '/images/heart4.png' %}" alt="찬하트" width="60px" height="60px">
                </button>
            {% endif %}
        </form>
        <div class="modal_background2"></div>
        <div class="modal_wrap2">
            <div class="text2">장소를 저장했습니다.</div>
        </div>
    </div>
</body>
</html>

<script>
//버튼 누르면 모달창 이벤트
    const modal_wrap = document.querySelector(".modal_wrap");
    const modal_background = document.querySelector(".modal_background");
    //모달창 보여주기
    document.querySelector("#modal_btn").addEventListener("click", ()=>{
        open();
    });
    //모달창 외부 클릭으로 닫기
    window.addEventListener("click", (e)=>{
        e.target === modal_background ? close() : false;
    });

    //하트 클릭 이벤트
    const heartImage = document.querySelector("#modal_btn2");
    heartImage.addEventListener("click", () => {
        if (heartImage.src.includes("heart4.png")) {
            heartImage.src = "{% static '/images/heart5.png' %}";
        } else if (heartImage.src.includes("heart5.png")) {
            heartImage.src = "{% static '/images/heart4.png' %}";
        }
    });
    function close(){
            modal_wrap.classList.remove("show-modal");
            modal_background.classList.remove("show-modal");
    }

    function open(){
            modal_wrap.classList.add("show-modal");
            modal_background.classList.add("show-modal");
    }
</script>